.MainBox {
  margin-top: 35px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(115, 168, 211);
  width: 50vw;
  height: 100vh;
  position: relative;
  left: 30%;
}

.jaca {
  width: 50%;
}